{
    "OnPlayerConnectMsgs": [
        {
            "msg": "A welcome message."
        }
    ],
    "OnRoundStartMsgs": [
        {
            "msg": "Some info."
        }
    ],
    "OnCommandMsgs": [
        {
            "msg": "Return message.",
            "cmd": "help"
        }
    ]
}