{
    "OnPlayerConnectMsgs": [
        {
            "msg": "A welcome message."
        }
    ],
    "OnRoundStartMsgs": [
        {
            "msg": "Some info."
        }
    ],
    "OnCommandMsgs": [
        {
            "msg": "Return message.",
            "cmd": "help"
        }
    ],
    "TimerMsgs" : [
        {
            "msg": "A timer triggered message.",
            "timer": 60.0
        }
    ]
}